{% extends "auctions/layout.html" %}

{% block body %}
    <h2 style="margin-left: 200px;">{{ listing.title }}</h2>
    <div class="row" style="margin-left: 200px; margin-right:200px">
        <div class="col-5">
            <img src="{{ listing.image_url }}" alt="listing photo" class="img-rounded" style="width: 256px; height: 256px; margin-left: 10px;">
        </div>
        <div class="col-6">
            <div style="margin-top: 10px; opacity: 90%; margin-left: 50px;">
                {{ listing.description }}
            </div>
            <div style="margin-top: 10px; float: right;">
                <h5> £{{ price }}.00</h5>
            </div>
            <div style="margin-top: 30px; margin-left: 50px; opacity: 65%;">
                Details:
                <div style="margin-left:25px"> Listed by {{ listing.owner }}</div>
                <div style="margin-left:25px"> Category: {{ listing.category }}</div>
                <div style="margin-left:25px"> Number of Bids: {{ bid_number }} bids</div>
            </div>
            {% if user.is_authenticated %}
                <div style="margin-top: 10px; margin-left: 50px;" class="form-group">
                    <form action="{% url 'bid' listing.id %}" style="margin-top: 10px;" method="post">
                        {% csrf_token %}
                        <label for="exampleInputAmount" style="opacity: 85%"> Place a new bid for this listing </label>
                        <input class="form-control" type="number" name="bid_amount" placeholder="Bid in £">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" style="float:right; width: 150px; margin-top: 5px;">Place Bid </button>
                    </div>
                    </form>
                    {% if message %}
                        <div style="color: red">
                            {{ message }}
                        </div>
                    {% endif %}
                </div>
            {% else %}
                <div style="margin-top: 30px; margin-left: 50px;" class="form-group"> 
                    <a href="{% url 'login' %}">Log in </a>
                    to place a bid!
                </div>
                
            {% endif %}
        </div>
        <div class="col-4"></div>
    </div>
    <div style="margin-left: 200px; margin-right:200px">
        {% if user.is_authenticated %}
            <div style="margin-top: 20px; margin-left: 10px;">
                <h6 style="font-style:italic">Comments:</h6>
            </div>      
            <div style="margin-top: 10px; margin-right: 75px;">
                <form action="{% url 'newcomment' listing.id %}" method="post">
                    {% csrf_token %}
                    <div class="form-group>">
                        <input class="form-control" type="text" name="content" placeholder="Add new comment" autofocus>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" style="float:right; width: 150px; margin-top: 5px;">Comment</button>
                    </div>
                </form>
            </div>
        {% else %}
            <div style="font-style: italic; margin-left: 50px; margin-top: 100px;">
                Sign in to add a new comment to listing
            </div>
            <div style="margin-top: 20px; margin-left: 10px;">
                <h6 style="font-style:italic">Comments:</h6>
            </div>    
        {% endif %}
        <div class="row">
        {% for comment in comments %}
            
                <div class="col-10">
                    <h6 style="margin-top: 10px; margin-left: 10px; opacity: 75%"> 
                        {{ comment.username }} said: 
                    </h6>
                    <div style="margin-top: 5px; margin-left: 25px; color:blue">
                        "{{ comment.content }}"
                    </div>
                </div>
        {% empty %}
            <div style="font-style: italic; margin-left: 10px; margin-top: 20px;">
                No Comments 
            </div>
        {% endfor %}
            </div>
    </div>
{% endblock %}